{% extends "tracker/base.html" %}

{% load static %}

{% block title %}Time entry | Objective Tracker{% endblock %}

{% block template_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/credentials-card.css' %}" />
{% endblock %}

{% block template_content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                    <h1>
                        Time entry
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <form method="post" class="form-entry" action="{% url 'tracker:entry' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.objective.id_for_label }}">
                            Objective
                        </label>
                        {{ form.objective }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.explanation.id_for_label }}">
                            Explanation
                        </label>
                        {{ form.explanation }}
                    </div>
                    <div class="form-group row">
                        <label for="{{ form.effort.id_for_label }}" class="col-xs-6 col-sm-8 col-6 col-form-label">
                            Effort (hours)
                        </label>
                        <div class="col-xs-6 col-sm-4 col-6">
                            {{ form.effort }}
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% for error in form.non_field_errors %}
                                {% if forloop.counter > 1 %}
                                    <hr>
                                {% endif %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="card credentials-card mb-4">
                        <div class="card-body">
                            <p>
                                Please enter your credentials to submit this time entry without signing in to your account.
                            </p>
                            <div class="form-group">
                                {{ form.username_email }}
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
