<form id="timeEntryForm" method="post" action="{% url 'tracker:objective/entry' objective.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label>
            Objective
        </label>
        <div>
            {{ objective.name }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.explanation.id_for_label }}">
            Explanation
        </label>
        {{ form.explanation }}
    </div>
    <div class="form-group row">
        <label for="{{ form.effort.id_for_label }}" class="col-xs-6 col-sm-8 col-6 col-form-label">
            Effort (hours)
        </label>
        <div class="col-xs-6 col-sm-4 col-6">
            {{ form.effort }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.submitter.id_for_label }}">
            Created by
        </label>
        {{ form.submitter }}
    </div>
    <input id="hiddenSubmitTimeEntry" type="submit" class="d-none">
</form>