{% extends "tracker/base.html" %}

{% load static %}

{% block title %}Sign in | Objective Tracker{% endblock %}

{% block template_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-md-6">
                <div class="card credentials-card mt-4">
                    <div class="card-header">
                        <div class="nav nav-tabs card-header-tabs nav-fill">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "tracker:signin" %}">
                                    Sign in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "tracker:signup" %}">
                                    Sign up
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'tracker:signin' %}">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {% for error in form.non_field_errors %}
                                        {% if forloop.counter > 1 %}
                                            <hr>
                                        {% endif %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                {{ form.username_email }}
                                {{ form.password }}
                            </div>
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                            {% endif %}
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
