{% load humanize %}

<div class="card objective mb-4">
    <div class="card-header bg-primary text-white">
        Objective
    </div>
    <div class="card-body">
        <p class="card-text text-muted mb-0">
            Name
        </p>
        <p class="card-text mb-0">
            {{ objective.name }}
        </p>
        {% if objective.description %}
            <p class="card-text text-muted mt-2 mb-0">
                Description
            </p>
            <p class="card-text mb-0">
                {{ objective.description }}
            </p>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <strong>
                        Completed
                    </strong>
                </div>
                <div class="col-6 text-right">
                    {% with total=objective.total_effort %}
                        {{ total|floatformat }} hour{{ total|pluralize }}
                    {% endwith %}
                </div>
                <div class="col-6">
                    <strong>
                        Target
                    </strong>
                </div>
                <div class="col-6 text-right">
                    {% with target=objective.target %}
                        {{ target|floatformat }} hour{{ target|pluralize }}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="progress mt-2 mb-2">
                        <div class="progress-bar {% if objective.is_reached %}bg-success{% endif %}" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                {% if objective.progression > 0 %} style="width: {% if not objective.is_reached %}{{ objective.progression }}{% else %}100{% endif %}%"{% endif %}>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <div class="card-body">
            <a href="{% url "tracker:objective" objective.id %}" class="card-link">
                View details
            </a>
        </div>
    {% endif %}
    <div class="card-footer">
        <div class="text-muted text-center">
            Created on {{ objective.date_created|date:"F d, Y" }} ({{ objective.date_created|naturaltime }})
        </div>
    </div>
</div>