{% load humanize %}

<div class="card objective">
    <div class="card-body">
        <h5 class="card-title">
             {{ objective.name }}
        </h5>
        {% if objective.description %}
            <p class="card-text">
                {{ objective.description }}
            </p>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 d-xs-none d-sm-none d-md-block">
                    <strong>
                        Completed
                    </strong>
                </div>
                <div class="col-6 d-xs-none d-sm-none d-md-block text-right">
                    {{ objective.total_effort|floatformat }} hours
                </div>
                <!-- Visible from md and up -->
                <div class="d-xs-block d-sm-block d-md-none col-12">
                    <strong>
                        Completed
                    </strong>
                </div>
                <div class="d-xs-block d-sm-block d-md-none col-12">
                    {{ objective.total_effort|floatformat }} hours
                </div>
                <!-- Visible from xs to sm -->
            </div>
            <div class="row">
                <div class="col-6 d-xs-none d-sm-none d-md-block">
                    <strong>
                        Target
                    </strong>
                </div>
                <div class="col-6 d-xs-none d-sm-none d-md-block text-right">
                    {{ objective.target|floatformat }} hours
                </div>
                <!-- Visible from md and up -->
                <div class="d-xs-block d-sm-block d-md-none col-12">
                    <strong>
                        Target
                    </strong>
                </div>
                <div class="d-xs-block d-sm-block d-md-none col-12">
                    {{ objective.target|floatformat }} hours
                </div>
                <!-- Visible from xs to sm -->
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="progress mt-2 mb-2">
                        <div class="progress-bar {% if objective.is_reached %}bg-success{% endif %}" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                {% if objective.progression > 0 %} style="width: {% if not objective.is_reached %}{{ objective.progression }}{% else %}100{% endif %}%"{% endif %}>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="card-footer">
        <div class="text-muted text-center">
            Created {{ objective.date_created|naturaltime }}
        </div>
    </div>
</div>