<div class="card col-3 col-md-4 col-sm-6 objective">
    <div class="card-body">
        <h4 class="card-title">
             {{ objective.name }}
        </h4>
        <h6 class="card-subtitle text-muted">
            Objective
        </h6>
        <p class="card-text">
            {{ objective.description }}
        </p>
    </div>
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                    {% if objective.progression > 0 %} style="width: {% if objective.progression < 100 %}{{ objective.progression }}{% else %}100{% endif %}%"{% endif %}></div>
        </div>
    </div>
</div>