{% load humanize %}

<div class="card time-entry mb-4">
    <div class="card-header text-right">
        <div class="badge badge-primary">
            Time Entry
        </div>
    </div>
    <div class="card-body">
        <p class="card-text mb-1">
            {{ entry.explanation }}
        </p>
        <p class="card-text text-muted">
            Created by
            <strong>
                {{ entry.user }}
            </strong>
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 d-none d-sm-block">
                    <strong>
                        Objective
                    </strong>
                </div>
                <div class="col-6 d-none d-sm-block text-right">
                    {{ entry.objective }}
                </div>
                <!-- Visible from sm and up -->
                <div class="d-block d-sm-none col-12">
                    <strong>
                        Objective
                    </strong>
                </div>
                <div class="d-block d-sm-none col-12">
                    {{ entry.objective }}
                </div>
                <!-- Visible only in xs -->
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 d-none d-sm-block">
                    <strong>
                        Effort
                    </strong>
                </div>
                <div class="col-6 d-none d-sm-block text-right">
                    {{ entry.effort|floatformat }} hours
                </div>
                <!-- Visible from sm and up -->
                <div class="d-block d-sm-none col-12">
                    <strong>
                        Effort
                    </strong>
                </div>
                <div class="d-block d-sm-none col-12">
                    {{ entry.effort|floatformat }} hours
                </div>
                <!-- Visible only in xs -->
            </div>
        </li>
    </ul>
    <div class="card-footer">
        <div class="text-muted text-center">
            Created {{ entry.date_created|naturaltime }}
        </div>
    </div>
</div>