{% load humanize %}

<div class="card time-entry mb-4">
    <div class="card-header bg-info text-white">
        Time Entry
    </div>
    <div class="card-body">
        <p class="card-text text-muted mb-0">
            Explanation
        </p>
        <p class="card-text mb-0">
            {{ entry.explanation|linebreaks|truncatewords:50 }}
        </p>
        <p class="card-text text-muted mt-2 mb-0">
            Objective
        </p>
        <p class="card-text mb-0">
            {{ entry.objective }}
        </p>
        {% if entry.get_submitter %}
            <p class="card-text text-muted mt-2 mb-0">
                Created by
            </p>
            <p class="card-text mb-0">
                {{ entry.get_submitter }}
            </p>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <strong>
                        Effort
                    </strong>
                </div>
                <div class="col-6 text-right">
                    {% with effort=entry.effort %}
                        {{ effort|floatformat }} hour{{ effort|pluralize }}
                    {% endwith %}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <a href="{% url "tracker:objective" entry.objective.id %}" class="card-link">
                View objective
            </a>
        </li>
    </ul>
    <div class="card-footer">
        <div class="text-muted text-center">
            <p class="mb-0">
                Created on {{ entry.date_created|date:"F d, Y" }}
            </p>
            <p class="mb-0">
                ({{ entry.date_created|naturaltime }})
            </p>
        </div>
    </div>
</div>