/* Sticky footer */

body {
    padding-top: 56px;
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.navbar-dark a.nav-link {
    color: white !important;
}

.navbar-dark li.nav-item.active a.nav-link {
    border : 1px solid white;
    border-radius: 5px;
}

.credentials-card .form-control {
    box-sizing: border-box;
    height: auto;
}

.credentials-card .form-group:last-child {
    margin-bottom: 0;
}

.credentials-card .form-group input:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}


.credentials-card .form-group input:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
