.form-signin {
    margin-top: 40px;
}

.form-signin-heading {
    margin-bottom: 20px;
}

.form-signin .form-control {
    box-sizing: border-box;
    height: auto;
}

.form-signin input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 20px;
}
